@model  karyaa
@{
    ViewData["Title"] = "KelolaRekanan";
    Layout = "~/Views/Shared/_LayoutDynamic.cshtml";
}



    <head>
        <title>Kelola keluarga- SIMKA UAJY</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" />
        <!--sweetalert-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/css/bootstrap-select.min.css">

    </head>


<!-- Main content -->
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Kelola Anggota Keluarga</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">

                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <section class="content">

        <div style="width:100%; margin:0" class="tab-pane">
            
            
            
            <div class="card cardMargin">
                <div class="card-header d-flex align-items-center justify-content-between">
                    <h5 class="flex-grow-1">Data Keluarga</h5>
                    <a class=" text-light btn btn-success" 
                       onclick="ShowPopup('@Url.Action("AddEditKeluarga","SimkaAdmin")')"><i class="fa fa-plus"></i>Tambah Anggota Keluarga </a>
                </div>
                <div class="card-body" style="overflow-x:auto;">
                    <div style="min-width:900px">
                        <div class="d-flex align-items-center">
                            <div class="col-2" style="padding-left:0px;">
                                <label for="karyawan">Karyawan</label>
                            </div>
                            <div class="col-4">
                                <select class="form-control" id="karyawan"
                                        asp-items="@(new SelectList(Model.karyawan,"Npp","Nama"))" onchange="changeKaryawan()">
                                    <option value="">-</option>
                                </select>

                            </div>
                        </div>

                        <br />
                        <div id="divRestitusi" style="display:none !important">
                            <div class="d-flex align-items-center">
                                <div class="col-2" style="padding-left:0px;">
                                    <label for="karyawan">Restitusi</label>
                                </div>
                                <div class="col-3" >
                                    <select class="form-control" id="inputRestitusi">
                                        <option value="Restitusi Bujang">Restitusi Bujang</option>
                                        <option value="Restitusi Keluarga">Restitusi Keluarga</option>
                                    </select>
                                </div>
                                

                                <div class="col-2" >
                                    <button id="btnUbahRestitusi" class=" pop-show btn btn-primary btn-sm" data-trigger="focus" onclick="ubahRestitusiKaryawan()" style="margin-left:1%;">Ubah Restitusi</button>

                                </div>
                            </div>
                            <br />
                            <table id="example" class="  table-hover table table-striped table-bordered dt-responsive nowrap" width="100%" cellspacing="0">
                                <thead class="bg-primary"></thead>
                            </table>
                        </div>
                    </div>
                    
            </div>
        </div>
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
<footer class="main-footer">
    <div class="float-right d-none d-sm-block">
        <b>Version</b> 3.0.2
    </div>
    <strong>Copyright &copy; 2014-2019 <a href="http://adminlte.io">AdminLTE.io</a>.</strong> All rights
    reserved.
</footer>

<!-- Control Sidebar -->
<!-- /.control-sidebar -->

@section Scripts{

    <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/js/bootstrap-select.min.js"></script>
    <script src="https://code.jquery.com/ui/1.11.1/jquery-ui.min.js"></script>

    <link rel="stylesheet" href="https://code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css" />

    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>

    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.14.0/jquery.validate.min.js"></script>


    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validation.unobtrusive/3.2.6/jquery.validate.unobtrusive.min.js"></script>


    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.serializeJSON/2.9.0/jquery.serializejson.min.js"></script>
    <!--toastr-->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <!--sweetalert-->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script>

    <script src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.2.3/js/responsive.bootstrap4.min.js"></script>

<script>
  
</script>
    <script>
        var popup, dataTable;
        var selectedVal = $("#karyawan option:selected").val();

       $("#karyawan").change(function(){      
                    selectedVal = $("#karyawan option:selected").val();
                  dataTable = $('#example').DataTable({
                   "oSearch": { "sSearch": localStorage.getItem("myTextBox") },
                   "responsive": true,
                   "destroy": true,
                   "deferRender": true,
                   "ajax": {
                       "url": "/SimkaAdmin/LoadDataKeluarga?npp=" + selectedVal + "",
                       "type": "GET",
                       "datatype": "json"
                   },
                   "columns": [
                       {
                           data: "idKeluarga",
                           title: "idKeluarga",
                           name: "idKeluarga",
                           type: "readonly",
                           "visible": false,
                       },
                       {
                           data: "nama",
                           title: "Nama ",

                       },
                       {
                           data: "hubungan",
                           title: "hubungan ",

                       },
                       {
                           data: "jnsKel",
                           title: "Jenis Kelamin",

                       },
                       {
                           data: "tempatLahir",
                           title: "Tempat Lahir",

                       },
                       {
                           data: "tglLahir",
                           title: "Tanggal Lahir",

                       },
                       {
                           data: "golDarah",
                           title: "Golongan Darah",

                       },

                       {
                           title: "Aksi",
                           "data": "idKeluarga", // diganti sama id
                           "render": function (data) {
                               return "<a class='btn btn-default btn-sm' onclick=ShowPopup('/SimkaAdmin/AddEditKeluarga?id=" + data + "')><i class='fa fa-pencil'></i> Detail / Edit</a> ";

                           }
                       }
                   ],
                   "language": {
                       "emptyTable": "no data found."
                   }
               });
           
           
            localStorage.setItem('myTextBox', "");
        });

        function changeKaryawan() {
            
            selectedVal = $("#karyawan option:selected").val();
            if (selectedVal != null && selectedVal != "") {
                $("#divRestitusi").show()
                $.ajax({
                    type: 'get',
                    // url: 'https://jsonplaceholder.typicode.com/todos/1',
                    url: "/SimkaAdmin/getRestitusiKaryawan?npp=" + selectedVal,

                    datatype: 'json',
                    success: function (data) {
                        if (data.status == "Restitusi Bujang")
                            $("#inputRestitusi").val("Restitusi Bujang").change();
                        else
                            $("#inputRestitusi").val("Restitusi Keluarga").change();

                    },
                    error: function (data) {

                        alert(data.message);
                    }
                });
            } else {
                $("#divRestitusi").hide()

            }
            
        }

        function ubahRestitusiKaryawan() {
            selectedVal = $("#karyawan option:selected").val();
            var restitusi = $("inputRestitusi").val()
            $.ajax({
                type: 'get',
                // url: 'https://jsonplaceholder.typicode.com/todos/1',
                url: '/SimkaAdmin/ubahRestitusiKaryawan?npp=' + selectedVal + "&restitusi=" + restitusi,
                data: function (d) {
                   
                },
                datatype: 'json',
                success: function (data) {
                    if (data.success) {
                        if (data.status == "Restitusi Bujang")
                            $("#inputRestitusi").val("Restitusi Bujang").change();
                        else
                            $("#inputRestitusi").val("Restitusi Keluarga").change();
                    }
                    
                    alert(data.message);


            },
                error: function (data) {

                    alert(data.message);
                }
            });
        }

        $("#btnUbahRestitusi").popover({
            html: true,
            placement: "right",
            trigger: "focus",
            content: "Klik untuk memperbarui"
            
        });

        $("#inputRestitusi").change(function () {
            $("#btnUbahRestitusi").popover("toggle");
        });

        function ShowPopup(url) {
            if ($('#karyawan').val() == null)
                alert("Pilih Karyawan Dahulu");
            else {            
            var formDiv = $('<div/>');
            $.get(url)
                .done(function (response) {
                    formDiv.html(response);
                    popup = formDiv.dialog({
                        autoOpen: true,
                        resizeable: false,
                        width: "auto",
                        height: 600,
                        title: 'Add or Edit Data',
                      
                        close: function () {
                            popup.dialog('destroy').remove();
                            var value = $('.dataTables_filter input').val();
                            localStorage.setItem('myTextBox', value);                        
                        }
                    });

                });
        }
        }
        function SubmitAddEdit(form) {
            $.validator.unobtrusive.parse(form);
            if ($(form).valid()) {
                var form = $('#formsimka')[0];
                var data = new FormData(form);
                var data = new FormData(document.getElementById("formsimka"));
                console.log(data);
                $.ajax({
                    type: 'POST',
                    url: '/SimkaAdmin/PostKeluarga',
                    data: data,                     
                    enctype: 'multipart/form-data',
                    processData: false,
                    contentType: false,                  
                    success: function (data) {
                        if (data.success) {
                            popup.dialog('close');
                            ShowMessage(data.message);
                            dataTable.ajax.reload();
                        }
                    },
                    error: function (data) {
                        alert("Telah terjadi kesalahan dengan kode : " + data.status + ", Pastikan semua isian data sudah diisi");
                    }
                });

            }
            return false;
        }

       
        function Delete(id) {
            Swal.fire({
                title: "Anda yakin ingin menghapus?",
                icon: "warning",
                showDenyButton: true,
                denyButtonText: "Tidak",
                confirmButtonColor: '#3085d6',
                confirmButtonText: "Ya",
            }).then((result) => {
                if (result.isConfirmed) {
                    $.ajax({
                        type: 'GET',
                        url: '/SimkaAdmin/DeleteKeluarga/' + id,
                        success: function (data) {
                            if (data.success) {
                                ShowMessage(data.message);
                                dataTable.ajax.reload();
                            }
                        }
                    });
                }
                Swal.close()

            })


        }

        function ShowMessage(msg) {
            toastr.success(msg);
        }


    </script>



}
